hydra-core>=1.2.0
pydicom
wget
numpy
torch
transformers
tokenizers
requests
Flask
scikit-learn
matplotlib
typing_extensions==4.5
plotly
pandas
accelerate
together
pyarrow
fastparquet
sentence-transformers
datasets
scipy
scapy
pyvoro